---
title: "Gegenstandswurf"
category: "Umstellungsfähigkeit"
color: "indigo-200"
thumbnail: "/images/gegenstandswurf.jpeg"
layout: Excercise
preview: "<b>Material:</b><ul><li>2 beliebige Gegenstände (z.B. Ball)</li></ul><br><b>Durchführung:</b><ol><li>Jeweils einen Gegenstand in einer Hand halten</li><li>Beide Gegenstände gleichzeitig hochwerfen und fangen</li></ol><br /><b>Erweiterungsmöglichkeiten:</b><ul><li>Gegenstände über kreuz werfen bzw. fangen</li><li>mehr als zwei Gegenstände verwenden</li><li>beide Erweiterungsmöglichkeiten kombiniert ➡️     jonglieren🤹</li></ul>"
---

<b>Material:</b>

<ul>
<li>2 beliebige Gegenstände (z.B. Ball)</li>
</ul>
<br>
<b>Durchführung:</b>
<ol>
<li>Jeweils einen Gegenstand in einer Hand halten</li>
<li>Beide Gegenstände gleichzeitig hochwerfen und fangen</li>
</ol>
<br />

<b>Erweiterungsmöglichkeiten:</b>

<ul>
<li>Gegenstände über kreuz werfen bzw. fangen</li>
<li>mehr als zwei Gegenstände verwenden</li>
<li>beide Erweiterungsmöglichkeiten kombiniert ➡️   jonglieren🤹</li>
</ul>
